

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.video-page {
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    background:linear-gradient(rgb(255, 54, 111), rgb(255, 179, 64));
}

.video-main{
    border: 5px black solid;
    width: 800px;
    padding-left: 40px;
    height: fit-content;
    display: flex;
    gap: 5px;
    flex-direction: column;
    background: white;
}
.video-screen {
    width: 800px;
    height: 440px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.author-data {
    display: flex;
    gap: 10px;
}

.channel-data {
    display: flex;
    flex-direction: column;
}

.like-section {
    height: 26px;
    display: flex;
    padding: 5px;
    justify-self: flex-end;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    background: lightgray;
    overflow: hidden;
}

.like-button  {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.like-icon {
    font-size: 1.5em;
}

.video-title {
    font-size: 20px;
    word-wrap: break-word;
}
.video-desc {
    background:rgb(231, 231, 231);
    border-radius: 15px;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tags, .video-views {
    display: flex;
    gap:5px;
}

.next-video-bar{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    height: fit-content;
    overflow-x: clip;
}

.playlist-header {
    height: 80px;
    display: flex;
    flex-direction: column;
    background: black;
    color:white
}
.playlist-bar {
    height: 310px;
    overflow-y: auto;
    background: white
}

.playlist-bar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #ffb340;
}

.playlist-bar::-webkit-scrollbar-thumb {
    background: #ff366f;
    border-radius: 2px;
}

.comment-input-container {
    display: flex;
    gap: 5px;
    padding: 5px;
}

.comment-input {
    display: flex;
    flex-direction: column;
}
.comment-input-actions {
    display: flex;
    justify-content: flex-end;
    gap:5px;
}