

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.video-list {
    padding:5px;
    padding-left: 140px;
    gap:10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    background:linear-gradient(rgb(255, 54, 111), rgb(255, 179, 64));
}

.channel-main {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.channel-icon-big {
    width: 64px;
    height: 64px;
    object-fit: cover;
    margin: 5px;
    border-radius: 50%;
}

.channel-name {
    font-size: 20px;
}

.channel-body {
    border-top: 1px black solid;
    justify-content:flex-start;
    display: flex;
    flex-wrap: wrap;
}