

.big-video-element{
    margin: 10px;
}
.thumbnail {
    width:340px;
    height: 200px;
    object-fit: contain;
    border-radius: 15px;
    background: grey;
    overflow: hidden;
}

.thumbnail-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.thumbnail-duration {
    position: absolute;
    bottom: 8px;
    right: 6px;
    background: black;
    padding: 2px;
    border-radius: 8px;
    color:white;
}

.big-video-header {
    display: flex;
    padding: 5px;
    gap: 5px;
}

.big-video-data {
    display: flex;
    flex-direction: column;
}

.channel-icon {
    width: 36px;
    height: 36px;
    object-fit: cover;
    margin: 5px;
    border-radius: 50%;
}
.video-views-date{
    display: flex;
    gap: 5px;
}

