.studio-container {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
}

.studio-sidebar-vert {
    border: 2px lightgray solid;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.studio-body {
    overflow-y: auto;
    border: 2px lightgray solid;
    padding: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.video-manage-thumbnail {
    min-width:120px;
    height: 72px;
    object-fit: contain;
    border-radius: 10px;
    background: grey;
    overflow: hidden;
}

.manage-thumbnail-duration {
    position: absolute;
    bottom: 6px;
    right: 4px;
    background: black;
    padding: 2px;
    border-radius: 8px;
    font-size: 12px;
    color:white;
}

.branding-container {
    display: flex;
    max-width: 50%;
    gap: 20px;
}

.branding-avatar {
    display: flex;
    padding: 5px;
    min-width: 50%;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

/* Load video */

.loadvideo-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.between-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    padding: 20px;
    margin: 5px;
    min-width: 30vh;
    min-height: 30vh;
}

.thumbnail-generator {
    display: block;
    height: 1px;
    left: 0;
    object-fit: contain;
    position: fixed;
    top: 0;
    width: 1px;
    z-index: -1;
}

/* Edit video*/

.editvideo-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.editvideo-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
    padding: 2px;
    overflow-y: auto;
    max-width: 40vw;
}

.editvideo-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 200px;
}

.editvideo-form::-webkit-scrollbar {
    display: none;
}

.thumb-list {
    display: flex;
    padding: 5px;
    gap: 5px;
    align-items: center;
    overflow-x: auto;
}
.thumb-list::-webkit-scrollbar {
    display: none;
}

.add-thumb {
    border: 2px dashed #ccc;
    background: transparent;
    cursor: pointer;
    display: flex;
    font-size: small;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
