

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.video-grid{
    margin: 10px;
    flex-grow: 1;
    justify-content:flex-start;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    /* background:linear-gradient(rgb(255, 54, 111), rgb(255, 179, 64)); */
}

