.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.channel-container {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.channel-banner {
    min-height: 160px;
    height: 160px;
    object-fit: cover;
    padding-left: 2px;
    padding-right: 2px;
}

.channel-main {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.channel-navigation {
    display: flex;
}

.channel-body {
    border-top: 1px black solid;
    justify-content:flex-start;
    display: flex;
    flex-wrap: wrap;
}

