

.next-video-element {
    margin: 5px;
    padding: 5px;
    display: flex;
    gap: 5px;
    border-radius: 10px;
}
.next-video-thumbnail {
    width:200px;
    height: 120px;
    object-fit: fill;
    border-radius: 10px;
    background: black;
    overflow: hidden;
}
.next-thumbnail-container {
    position: relative;
    display: flex;
    height: 120px;
    flex-direction: column;
    align-items: flex-end;
}
.next-video-playlist{
    position: absolute;
    top: -11px;
    width:190px;
    height: 8px;
    background: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.next-video-data {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 60%);
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
}

.next-playlist-element {
    margin: 5px;
    padding: 5px;
    display: flex;
    gap: 5px;
    border-radius: 10px;
}
.next-playlist-thumbnail {
    width:120px;
    height: 72px;
    object-fit: fill;
    border-radius: 10px;
    background: black;
    overflow: hidden;
}
.next-playlist-container {
    position: relative;
    display: flex;
    height: 72px;
    flex-direction: column;
    align-items: flex-end;
}



