

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.video-list {
    padding-left: 140px;
    gap:10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    background:linear-gradient(rgb(255, 54, 111), rgb(255, 179, 64));
}

